
<div class="w3-sidebar warning w3-bar-block" style="width:15%">
    <h3 class="w3-bar-item"></h3>
    <a href="#" class="w3-bar-item w3-button">Favourite</a><br />
    <a href="#" class="w3-bar-item w3-button">Product</a><br />
    <a href="#" class="w3-bar-item w3-button">Your Order</a>
</div>